.about(layout="row",layout-wrap,layout-fill)
  div(flex="40",flex-offset="30")
    img.logo(src="img/logo_white.png")
  div(flex="80",flex-offset="10")
    p 
      | Elsie is actively developed by&nbsp;
      a(href="http://dougestey.com?referred_from=elsie",target="_blank") Doug Estey
      |, with branding and design from&nbsp;
      a(href="http://tylercopeland.me?referred_from=elsie",target="_blank") Tyler Copeland
      |.
    p 
      | Daily product data comes from&nbsp;
      a(href="http://heycarsten.com?referred_from=elsie",target="_blank") Carsten Nielsen
      |'s amazing&nbsp;
      a(href="http://lcboapi.com?referred_from=elsie",target="_blank") LCBO API
      |.
  br
  div(flex="30",flex-offset="35")
    img.logo(src="img/kwaf.png")
  div(flex="80",flex-offset="10")
    p 
      a(href="http://kwaf.ca",target="_blank") kwäf
      | &nbsp;wants people to drink only good wine, at a fair price. They're also kind enough to provide tons of information on wines to Elsie users.