.settings
  md-content(layout="row",layout-wrap)
    div(layout="column",flex="90",flex-offset="5")
      h3.light.black Profile
      md-input-container
        label First name
        input(type="text",ng-model="profile.firstName")
      md-input-container
        label Last name
        input(type="text",ng-model="profile.lastName")
    div(layout="column",flex="90",flex-offset="5")
      h3.light.black Facebook
      h4.light.black Status:&nbsp;
        span(ng-if="facebook") Connected
        span(ng-if="!facebook") Not connected
      p(ng-if="!facebook") Elsie uses Facebook to connect you with friends to share suggested products with.
    div(layout="column",flex="90",flex-offset="5")
      h3.light.black Notifications
      md-checkbox(ng-model="settings.notifications") Enabled
    div(layout="column",flex="90",flex-offset="5")
      h3.light.black Home Store
      h4.light.black(ng-if="settings.home") {{ home.name }}
      h4.light.black(ng-if="!settings.home") Not set
