.splash {
  position: absolute;
  top: $bump;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
  .logo {
    width: 75%;
  }
  .login {
    transition: height $transition;
    height: 0px;
    overflow: hidden;
    padding-top: 40px;
    &.shown {
      height: 300px;
    }
    text-align: left;
  }
  .container {
    text-align: center;
    height: 100%;
  }
}