<?xml version='1.0' encoding='utf-8'?>
<widget id="dougestey.lcbo" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>LCBO</name>
    <description>
        A Windows frontend to a lovely LCBO API.
    </description>
    <author email="doug@tailoredux.com" href="http://dougestey.com/">
        Doug Estey
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
