doctype
.store.single(ng-style="image")
  md-content.upper
    .image
    md-toolbar.lower
      .md-toolbar-tools
        h2.md-title {{ store.name }}
        h5.md-subhead {{ store.address_line_1 }}
  md-content.lower.md-default.md-primary-bg
    md-list
      md-list-item.md-2-line
        .md-list-item-text
          h3 {{ store.address_line_1  }}
          p address
      md-list-item.md-2-line
        .md-list-item-text
          h3 {{ store.store_no }}
          p store number
      md-list-item.md-2-line
        .md-list-item-text
          h3 {{ store.telephone }}
          p phone
      md-list-item.md-2-line
        .md-list-item-text
          h3 {{ store.has_wheelchair_accessability }}
          p wheelchair accessible
