.product.single {
  .image {
    height: 264px;
    background-color: white;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position-x: -75%;
    background-position-y: 60%;
  }
  md-toolbar {
    @include gradient(rgba(0,0,0,0), rgba(0,0,0,0.4));
    margin-top: -128px;
    padding-top: 64px;
    height: 128px;
    color: white;
    .md-toolbar-tools {
      align-items: flex-start;
      flex-direction: column;
      overflow: hidden;
      .md-title {
        font-weight: 600;
        white-space: nowrap;
      }
    }
  }
  a.md-button.md-default-theme.md-fab, .md-button.md-default-theme.md-fab {
    position: absolute;
    right: 20px;
    top: 230px;
  }
  md-content.upper {
    .md-icon-button {
      float: left;
      margin: 0;
      md-icon {
        color: $charcoal;
      }
    }
  }
  md-content.lower {
    //background-color: white;
    * {
      //color: rgba(255,255,255,0.87) !important;
    }
  }
}