.product.single {
  background-color: white;
  background-size: auto 70%;
  background-repeat: no-repeat;
  background-position-x: 100px;
  background-position-y: -10%;
  position: absolute;
  top: $bump;
  left: 0;
  bottom: 0;
  right: 0;
  transition: background-position-y $transition;
  .image {
    height: 244px;
  }
  md-toolbar.lower {
    @include gradient(rgba(0,0,0,0), rgba(0,0,0,0.4));
    margin-top: -148px;
    padding-top: 64px;
    height: 128px;
    color: white;
    .md-toolbar-tools {
      display: block;
      overflow: hidden;
      .md-title {
        font-weight: 600;
        white-space: nowrap;
      }
      h5 {
        margin: 0;
      }
    }
  }
  button.md-button.md-fab {
    position: absolute;
    right: 20px;
    margin-top: -30px;
  }
  button.md-button.md-icon-button {
    position: absolute;
    right: 32px;
    margin-top: 36px;
    z-index: 20;
    md-progress-circular {
      margin-top: -26px;
      margin-left: -26px;
    }
  }
  md-content.upper {
    overflow: hidden;
    background-color: transparent;
  }
  md-content.lower {
    min-height: 100%;
    md-list-item.long {
      padding: 16px;
    }
    .rating {
      display: block;
      margin-bottom: 12px;
    }
  }
}

.kwaf-ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#674172 0%, #6F467A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 18 + $bump;
  right: -21px;
}