.product.single {
  background-color: white;
  background-size: auto 70%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -220%;
  position: absolute;
  top: $bump;
  left: 0;
  bottom: 0;
  right: 0;
  @include transition-timing-function($transition-function);
  transition: background-position-y $transition;
  .image {
    height: 244px;
  }
  md-toolbar.lower {
    @include gradient(rgba(255,255,255,0), rgba(0,0,0,0.15));
    margin-top: -248px;
    padding-top: 64px;
    height: 228px;
    color: white;
    .md-toolbar-tools {
      display: block;
      overflow: hidden;
      .md-title {
        font-weight: 600;
        white-space: nowrap;
      }
      h5 {
        margin: 0;
      }
    }
  }
  button.md-button.md-fab {
    position: absolute;
    right: 20px;
    margin-top: -30px;
  }
  button.md-button.md-icon-button {
    position: absolute;
    right: 32px;
    margin-top: 36px;
    z-index: 20;
    md-progress-circular {
      margin-top: -26px;
      margin-left: -26px;
    }
  }
  md-content.upper {
    overflow: hidden;
    background-color: transparent;
  }
  md-content.lower {
    min-height: 100%;
    .head {
      margin-top: 30px;
      h3.title,
      h5.title {
        margin: 10px 0;
      }
    }
    md-list {
      margin-top: 10px;
      border-top: 1px $grey solid;
      md-list-item {
        padding: 0 8px;
        img.md-avatar {
          margin-right: 10px;
        }
      }
    }
    md-list-item {
      > button.md-button {
        padding: 0;
        border-radius: 0;
      }
    }
    md-list-item.long {
      padding: 16px 8px;
      h3 {
        margin-bottom: 10px;
      }
    }
    .rating {
      display: block;
      margin-bottom: 12px;
    }
  }
}

.kwaf-ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient($purple 0%, $purple-light 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 18 + $bump;
  right: -21px;
  z-index: 21;
}