div
  md-toolbar.md-default-theme
    .md-toolbar-tools
      h1.white {{ user.firstName }} {{ user.lastName }}
      span(flex)
      md-button.md-accent(ng-click="logout()") Log out
  md-content(layout-padding)
    md-list
      md-list-item.md-with-secondary(md-ink-ripple)
        md-icon settings
        p.black Settings