div
  md-toolbar.md-default-theme
    .md-toolbar-tools
      h1.white {{ user.firstName }} {{ user.lastName }}
      span(flex)
      md-button.md-accent(ng-click="logout()") Log out
  md-content(layout-padding)
    md-list
      md-item
       md-item-content(md-ink-ripple,layout="row",layout-align="start center")
        //.inset
          md-icon.md-primary menu
        .inset Logout