doctype
md-autocomplete(md-selected-item='product', md-search-text-change='change(searchText)', md-search-text='searchText', md-selected-item-change='selectProduct(product)', md-items='product in search(searchText)', md-item-text='product.title', md-min-length='0', placeholder='Search for a product')
    span(md-highlight-text='searchText', md-highlight-flags='^i') {{ product.name }}
