[ui-view] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}

// // Common transition properties
[ui-view].ng-enter, 
[ui-view].ng-leave {
  -webkit-transition: all $transition;
  transition: all $transition;
  // -webkit-transition-delay: 0.001s;
  // transition-delay: 0.001s;
  @include transition-timing-function($transition-function);
}

// // Handle initial properties of the leaving state
#main.direction-forward [ui-view].ng-leave,
#main.direction-back [ui-view].ng-leave {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#main.direction-forward [ui-view].ng-leave {
  z-index: $z-index-view-below;
}

#main.direction-back [ui-view].ng-leave {
  z-index: $z-index-view-above;
}

// Handle final properties of the leaving state
#main.direction-forward [ui-view].ng-leave.ng-leave-active {
  -webkit-transform: translate3d(-33%, 0, 0);
  transform: translate3d(-33%, 0, 0);
}

#main.direction-back [ui-view].ng-leave.ng-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

// Handle initial properties of the entering state
#main.direction-forward [ui-view].ng-enter {
  z-index: $z-index-view-above;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

#main.direction-back [ui-view].ng-enter {
  z-index: $z-index-view-below;
  -webkit-transform: translate3d(-33%, 0, 0);
  transform: translate3d(-33%, 0, 0);
}

// Handle final properties of the entering state
#main.direction-forward [ui-view].ng-enter.ng-enter-active,
#main.direction-back [ui-view].ng-enter.ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}