$purple: #674172;
$pink: #E91E63;
$charcoal: #313131;
$bump: 24px;
$transition: 0.35s;

@import 'fonts';
@import 'mixins';
@import 'animations';

body {
  font-family: 'Roboto';
}

#main {
  padding-top: $bump;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.overflow-parent {
  position: absolute;
  top: $bump;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.bar {
  height: $bump;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $purple;
}

button.md-button {
  &.md-fab {
    &.fab-bottom-right {
      position: fixed;
      bottom: 20px;
      right: 20px;
    }
  }
  &.md-icon-button {
    -webkit-transition: all 0.25s;
    -webkit-transform: scale3d(1,1,1);
    transition: all 0.25s;
    transform: scale3d(1,1,1);
    &.invisible {
      -webkit-transform: scale3d(0,0,0);
      transform: scale3d(0,0,0);
    }
  }
}

md-icon.md-default-theme {
  color: rgba(255, 255, 255, 0.870588);
}

md-list-item > .md-avatar:first-child, md-list-item .md-list-item-inner > .md-avatar:first-child {
  height: auto;
}

md-tabs {
  &.full {
    margin-top: $bump;
    position: absolute;
    top: 63px;
    left: 0;
    right: 0;
    bottom: 0;
    &.no-bump {
      margin-top: 0;
    }
  }
}

md-sidenav {
  width: 65%;
  md-toolbar {
    padding-top: $bump;
  }
}

md-content {
  &.with-toolbar {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

md-chips .md-chips {
  box-shadow: none;
}

md-tab-item {
  * {
    -webkit-user-select: none;
  }
}

@import 'action-bar';
@import '../../elsie.product/styles/product';
@import '../../elsie.store/styles/store';
@import '../../elsie.home/styles/home';
@import '../../elsie.home/styles/watchlist';
@import '../../elsie.home/styles/explore';
@import '../../elsie.search/styles/search';