@import 'fonts';
@import 'mixins';
//@import 'animations';

$purple: #674172;
$pink: #E91E63;
$charcoal: #212121;
$bump: 20px;

body {
  font-family: 'Roboto';
}

#main {
  padding-top: $bump;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.android-bar {
  height: $bump;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $purple;
}

button.md-button {
  &.md-fab {
    &.fab-bottom-right {
      position: fixed;
      bottom: 20px;
      right: 20px;
    }
  }
}

md-toolbar {
  box-shadow: none;
  .md-toolbar-tools {
    h2 {
      font-weight: 500;
    }
    h5 {
      margin: 0;
    }
  }
  &.md-theme-search {
    background-color: #FAFAFA;
    box-shadow: initial;
    md-icon.md-default-theme {
      color: rgba(0,0,0,0.54);
    }
  }
}

md-icon.md-default-theme {
  color: rgba(255, 255, 255, 0.870588);
}

md-list-item > .md-avatar:first-child, md-list-item .md-list-item-inner > .md-avatar:first-child {
  height: auto;
}

md-tabs {
  //margin-top: -1px;
  &.full {
    margin-top: $bump;
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

md-sidenav {
  md-toolbar {
    padding-top: $bump;
  }
}

.md-autocomplete-suggestions.md-default-theme li .highlight {
  color: $pink;
}

@import '../../elsie.product/styles/product';
@import '../../elsie.home/styles/watchlist';
@import '../../elsie.home/styles/explore';
@import '../../elsie.search/styles/search';