$purple: #674172;
$purple-light: #e7c5f1;
$pink: #F06292;
$pink-light: #F8BBD0;
$charcoal: #313131;
$white: #FEFEFE;
$grey-light: #FAFAFA;

$bump: 24px;

$transition: 0.35s;
$transition-function: cubic-bezier(.36, .66, .04, 1) !default; // thanks, driftyco!

$box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

$z-index-view-below: 10;
$z-index-view-above: 20;
$z-index-control-main: 30;
$z-index-control-super: 40; 

@import 'fonts';
@import 'mixins';
@import 'animations';

body {
  font-family: 'Roboto';
}

* {
  &:not(input){
    -webkit-user-select: none;
    user-select: none;
  }
}

h1,
h2,
h3,
h4,
h5,
small {
  color: $purple;
  &.white {
    color: $grey-light; 
  }
  &.light {
    font-weight: 400;
  }
  &.black {
    color: $charcoal;
  }
  &.pink {
    color: $pink;
  }
  &.md-accent {
    color: $pink;
  }
  &.upcase {
    margin: 10px 20px;
    font-size: 0.9em;
  }
}

.upcase {
  text-transform: uppercase;
  font-weight: 400;
}

#main {
  padding-top: $bump;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.overflow-parent {
  position: absolute;
  top: $bump;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.center {
  text-align: center;
}

.bar {
  height: $bump;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: $purple;
  z-index: 90;
}

input,
input:focus,
input:active {
  outline: none;
}

button.md-button {
  border-radius: 0;
  background-color: transparent;
  &.md-fab {
    &.fab-bottom-right {
      position: fixed;
      bottom: 20px;
      right: 20px;
    }
  }
  &.md-icon-button {
    margin: 0;
    md-icon {
      color: $purple;
    }
  }
}

md-icon.md-default-theme {
  color: rgba(255, 255, 255, 0.870588);
  &.md-primary {
    color: $purple;
  }
  &.md-accent {
    color: $pink;
  }
}

md-list-item > .md-avatar:first-child, md-list-item .md-list-item-inner > .md-avatar:first-child {
  height: auto;
}

md-list-item {
  color: $pink;
  .md-list-item-inner > .md-avatar {
    width: 50px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 0px;
    margin-left: -12px;
    border-radius: 50%;
    box-sizing: content-box; 
  }
}

md-list-item.md-2-line .md-list-item-text h3, md-list-item.md-2-line > .md-no-style .md-list-item-text h3, md-list-item.md-3-line .md-list-item-text h3, md-list-item.md-3-line > .md-no-style .md-list-item-text h3 {
  line-height: 1.2em;
}

md-tabs {
  &.full {
    margin-top: $bump;
    position: absolute;
    top: 63px;
    left: 0;
    right: 0;
    bottom: 0;
    &.no-bump {
      margin-top: 0;
    }
  }
}

md-sidenav {
  width: 65%;
  min-width: 280px;
  md-toolbar {
    padding-top: $bump;
  }
  md-item {
    cursor: pointer;
    color: $charcoal;
  }
  background-color: $grey-light;
}

md-content {
  background-color: $grey-light;
  &.with-toolbar {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

md-chips .md-chips {
  box-shadow: none;
}

md-tab-item {
  * {
    -webkit-user-select: none;
  }
}

@import 'action-bar';
@import '../../elsie.product/styles/product';
@import '../../elsie.store/styles/store';
@import '../../elsie.home/styles/home';
@import '../../elsie.home/styles/watchlist';
@import '../../elsie.home/styles/explore';
@import '../../elsie.search/styles/search';
@import '../../elsie.splash/styles/splash';