.splash.welcome
  .container(layout="row", layout-align="center center")
    .inside(flex="70",layout="column")
      img.logo(ng-click="shown = false",src="img/logo.png")
      .buttons(layout="row",layout-align="center center")
        div(flex="70",layout="column")
          md-button.md-accent.md-raised(ng-click="go('signup')") Sign up
          md-button.md-primary.md-raised(ng-click="go('login')") Log in
