.splash.welcome
  .overlay
  .container(layout="column", layout-align="center center", flex="100")
    .inside(flex="55",layout="column",layout-align="center center")
      img.logo(ng-click="shown = false",src="img/logo_white.png")
    .buttons(flex="30",layout="row",layout-align="center center",layout-wrap)
      md-button.md-accent.md-raised(ng-click="go('signup')",flex="70") Sign up
      md-button.md-raised(ng-click="go('login')",flex="70") Log in
      md-button.md-accent.facebook.md-raised(ng-click="facebook()",flex="70") Use Facebook
      md-button(ng-click="go('home')") Continue without an account

