.splash.welcome
  .container(layout="row", layout-align="center center")
    .inside(flex="70",layout="column")
      img.logo(ng-click="shown = false",src="img/logo.png")
      .buttons(layout="row",layout-align="center center")
        md-button.md-primary(ng-click="go('login')",flex="30") Log in
        md-button.md-accent(ng-click="go('signup')",flex="30") Sign up
