.splash.welcome
  .overlay
  .container(layout="column", layout-align="center center", flex="100")
    .inside(flex="80",layout="column",layout-align="center center")
      img.logo(ng-click="shown = false",src="img/logo_white.png")
    .buttons(flex="20",layout="row",layout-align="center end")
      md-button.md-accent.md-raised(ng-click="go('signup')",flex="45") Sign up
      md-button.md-primary.md-raised(ng-click="go('login')",flex="45") Log in
