md-grid-list.gridListdemoBasicUsage(md-cols-sm='2', md-cols-md='2', md-cols-gt-md='6', md-row-height-gt-md='1:1', md-row-height='1:1', md-gutter='8px', md-gutter-gt-sm='8px')
  md-grid-tile.red(md-rowspan='1', md-colspan='2')
    md-grid-tile-footer
      h3 #5: (2r x 2c)
  md-grid-tile.green
    md-grid-tile-footer
      h3 #2: (1r x 1c)    
  md-grid-tile.yellow
    md-grid-tile-footer
      h3 #3: (1r x 1c)
  md-grid-tile.blue
    md-grid-tile-footer
      h3 #4: (2r x 1c)
  md-grid-tile.gray
    md-grid-tile-footer
      h3 #4: (2r x 1c)
  md-grid-tile.yellow(md-rowspan='1', md-colspan='2')
    md-grid-tile-footer
      h3 #5: (2r x 2c)
  md-grid-tile.green(md-rowspan='1')
    md-grid-tile-footer
      h3 #6: (2r x 1c)
  md-grid-tile.blue(md-rowspan='1')
    md-grid-tile-footer
      h3 #6: (2r x 1c)
