.explore(ng-controller="ExploreCtrl")
  .feature
    h5 Pick of the week
    .pick(layout="row")
      .image(ng-style="featuredStyle",flex="30")
      div(flex="65")
        h3 {{ featured.name }}
        span.rating 
          md-icon.material-icons.md-default-theme.md-accent(ng-repeat="star in getRating(featured.pick.rating) track by $index") star_rate
        br
        .buttons
          md-button.md-primary.md-raised
            span Find it
            md-icon arrow_forward
  h5 Past selections
  .watchlist.carousel
    .scroller
      .product(ng-repeat="product in watchlist",ng-click="loadProduct(product)")
        img(ng-src="{{ product.image_url }}")