doctype
.home
  md-tabs.full.md-primary(md-selected="selectedIndex", md-no-pagination="true", md-stretch-tabs="always")
    md-tab(label='Explore',md-on-select="changeTab('explore')")
      include explore.jade
    md-tab(label='Cellar',md-on-select="changeTab('watchlist')")
      include watchlist.jade
  md-button.md-fab.fab-bottom-right.watchlist-fab(ng-click="go('search')",ng-class="{ 'state-home-explore' : currentTab === 'explore', 'state-home-watchlist' : currentTab === 'watchlist'}")
    md-icon add