doctype
md-list.watchlist(layout-padding,ng-controller="WatchlistCtrl")
  md-list-item.md-2-line(md-no-ink,ng-repeat="product in watchlist",ng-click="loadProduct(product)")
    img.md-avatar(ng-src="{{ product.image_thumb_url }}")
    .md-list-item-text
      h3 {{ product.name }}
      p {{ product.producer_name }}