doctype
.watchlist
  md-list
    md-list-item.md-2-line(ng-repeat="product in watchlist")
      img.md-avatar(ng-src="{{ product.image_thumb_url }}")
      .md-list-item-text
        h3 {{ product.name }}
        p {{ product.producer_name }}