doctype
.watchlist
  md-content
    md-progress-circular.md-accent(md-mode="indeterminate",ng-show="!watchlist")
    md-list(ng-show="error")
      md-list-item
        p {{ error.data }}
    md-list(ng-show="watchlist && watchlist.length === 0 && !error")
      md-list-item
        p You haven't added anything to your watchlist yet.
    md-list(ng-show="watchlist && watchlist.length > 0")
      md-list-item.md-2-line(ng-repeat="product in watchlist",ng-click="loadProduct(product)")
        img.md-avatar(ng-src="{{ product.image_thumb_url }}")
        .md-list-item-text
          h3 {{ product.name }}
          p {{ product.package }}
        .stat
          h2.light.pink {{ product.inventory_count | pretty }}
          small.pink Stocked