doctype
.product.single(layout="column")
  md-content.upper
    md-button.md-icon-button(aria-label="Back", ui-sref="home.watchlist")
      md-icon(md-svg-icon="img/arrow_back.svg")
    .image(ng-style="image")
    md-toolbar
      .md-toolbar-tools
        h2.md-title {{ product.name }}
        h5.md-subhead {{ product.producer_name }}
  md-button.md-fab(aria-label="Add to Watchlist",ng-click="toggleWatch(product)")
    md-icon(md-svg-src='img/favorite.svg',ng-show="isWatched")
    md-icon(md-svg-src='img/favorite_outline.svg',ng-show="!isWatched")
  md-content.lower.md-default.md-hue-1
    md-list
      md-list-item.md-2-line
        .md-list-item-text
          h3 {{ product.varietal }}
          p type
      md-list-item.md-2-line
        .md-list-item-text
          h3 {{ product.price_in_cents }}
          p price
      md-list-item.md-2-line
        .md-list-item-text
          h3 {{ product.package_unit_volume_in_milliliters }}
          p ml x {{ product.total_package_units }}
      md-list-item.md-2-line
        .md-list-item-text
          h3 {{ product.alcohol_content }}
          p alcohol by volume
