.product.store {
  background-color: white;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -60%;
  position: absolute;
  top: $bump;
  left: 0;
  bottom: 0;
  right: 0;
  md-list {
    .md-list-item-text {
      .highlighted p {
        color: $pink;
      }
    }
  }
  md-chips md-chip.md-accent {
    text-transform: capitalize;
  }
}