.product.store {
  background-color: white;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -60%;
  position: absolute;
  top: $bump;
  left: 0;
  bottom: 0;
  right: 0;
  @media only screen 
  and (min-device-width : 375px) 
  and (max-device-width : 667px) 
  and (orientation : portrait) {
  background-position-y: -28%;
  }
  @media only screen 
  and (min-device-width : 414px) 
  and (max-device-width : 736px) 
  and (orientation : portrait) {
    background-position-y: -16%;
  }
  md-list {
    .md-list-item-inner {
      > .md-avatar {
        height: 40px;
        margin-left: 0;
        max-width: 100%;
        width: 40px;
      }
    }
    .md-list-item-text {
      .highlighted p {
        color: $pink;
      }
    }
  }
  md-chips md-chip.md-accent {
    text-transform: capitalize;
  }
}