.explore {
  // margin-top: 170%;
  box-shadow: $box-shadow;
  background-color: $grey-light;
  text-align: center;
  .header {
    padding-top: 15px;
    background-color: $purple;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  md-list-item {
    background-color: white;
  }
}