.explore {
  .feature {
    border-bottom: 2px #eee solid;
    .image {
      background-size: cover;
      background-position-x: 50%;
    }
    .pick {
      height: 200px;
      .buttons {
        margin-top: 15px;
        .md-button {
          margin-left: 0;
        }
      }
    }
    h3 {
      font-weight: 400;
    }
    p {
      font-size: 0.9em;
    }
  }
  h5 {
    font-weight: 400;
    text-transform: uppercase;
    color: $charcoal;
    padding: 0 20px;
    -webkit-margin-after: 15px;
    margin-after: 15px;
  }
}