.home {
  padding-top: $bump;
  background-color: $grey-light;
  height: 135px;
  width: 100%;
  overflow: visible;
  .results {
    md-list-item {
      background-color: white;
      box-shadow: $box-shadow;
    }
    overflow-y: auto;
  }
}