.home {
  padding-top: $bump;
  background-color: $grey-light;
  width: 100%;
  height: 100%;
  overflow: visible;
  > md-content {
    //min-height: 100%;
    height: 100%;
  }
  .results {
    md-list-item {
      background-color: white;
      box-shadow: $box-shadow;
    }
    overflow-y: auto;
  }
}