.watchlist {
  //margin: 0 8px;
  &.grid .product {
    background-size: cover;
    background-color: white;
    background-repeat: no-repeat;
  }
  &.carousel {
    .scroller {
      width: 100%;
      height: 435px;
    }
    .product {
      box-sizing: border-box;
      display: inline-block;
      width: 200px;
      height: 400px;
      padding-top: 35px;
      text-align: center;
      outline: none;
      cursor: pointer;
      img {
        height: 100%;
      }
    }
  }
}

.md-button.md-fab.watchlist-fab {
  -webkit-transition-property: all;
  -webkit-transform: scale3d(0,0,0);
  transition-property: all;
  transform: scale3d(0,0,0);
  &.state-home-watchlist {
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
  }
}