doctype
html
  body
    #about
      h1 elsie
      p Designed and developed with love by Doug Estey. (http://dougestey.com)
      p Built on the lovely LCBO API by Carsten Nielsen. (http://lcboapi.com)
      p Elsie and the LCBO API are not affiliated with the LCBO.