doctype
#about-container
  #about
    img.wordmark(src="img/wordmark.png")
    p
      | Elsie is developed with love by 
      a(href="http://dougestey.com",target="_blank") Doug Estey.
    p 
      | She's powered by 
      a(href="http://heycarsten.com",target="_blank") Carsten Nielsen
      | 's amazing 
      a(href="http://lcboapi.com",target="_blank") LCBO API
      | . Product stock info is updated daily.
    p Elsie is free, but building her was not. You can help guarantee her future by purchasing her in the Windows Store.
    p.affiliation Elsie &amp; the LCBO API aren't affiliated with the LCBO.
