doctype
#about-container
  #about
    img.wordmark(src="img/wordmark.png")
    p
      | Elsie is developed with love by 
      a(href="http://dougestey.com",target="_blank") Doug Estey.
    p 
      | She's powered by 
      a(href="http://heycarsten.com",target="_blank") Carsten Nielsen
      | 's fantastic 
      a(href="http://lcboapi.com",target="_blank") LCBO API
      | . Product stock levels are served fresh daily.
    p Elsie &amp; the LCBO API aren't affiliated with the LCBO.