doctype
html
  head
    meta(charset='utf-8')
    title Elsie
    // Angular Material
    script(src='js/lib/angular-material.js',charset='utf-8')
    // Cordova 4.0.0
    script(src='cordova.js',charset='utf-8')
    // Elsie 2.0
    //script(src='js/something.js',charset='utf-8')
    link(rel='stylesheet', href='css/app.css')
  body
    h1 Hello. Welcome to v2.
