.elsie-title.solo Nearby Stores
#closestStores(data-win-control="WinJS.UI.ListView",data-win-options="{itemTemplate: select('#storeResultsTemplate'), layout : {type: WinJS.UI.ListLayout}, selectionMode: 'none', itemDataSource: Elsie.Data.processed.closestStores.dataSource}")