#templates(style="visibility:hidden; height: 0px;")
  .productResultsTemplate.listBox(data-win-control="WinJS.Binding.Template")
    .product.listItem
      img.listItem-Image(data-win-bind="src:image_thumb_url Elsie.Interface.processImage")
      .listItem-Detail
        h4(data-win-bind="textContent:name")
        .info
          h6.package(data-win-bind="textContent:package")
          h6.abv(data-win-bind="textContent:alcohol_content Elsie.Interface.convertABVtoPercentage")

  .tabTemplate.listBox(data-win-control="WinJS.Binding.Template")
    .tab.listItem
      .listItem-Main.details
        img.listItem-Image(data-win-bind="src:image_thumb_url Elsie.Interface.processImage")
        .glance.linear
          .fact
            span.value.win-type-x-large(data-win-bind="textContent:inventory_count Elsie.Interface.formatNumber")
            br
            span.key.win-type-medium all stock
          .fact
            span.value.win-type-x-large(data-win-bind="textContent:stores Elsie.Interface.returnFirstStoreDistance")
            br
            span.key.win-type-medium closest store
      .listItem-Detail
        span(data-win-bind="textContent:name")

  .storeResultsTemplate.listBox(data-win-control="WinJS.Binding.Template")
    .store.listItem
      .listItem-Detail
        .block
          span.quantity(data-win-bind="textContent: quantity")
          span.remaining units
        h4(data-win-bind="textContent:name")
        .info
          h6.distance(data-win-bind="textContent: distance_in_meters Elsie.Interface.convertMetersToKilometers")
          h6.openclosed(data-win-bind="innerText: this Elsie.Interface.determineStoreResultOpen")

  .storeTemplate.listBox(data-win-control="WinJS.Binding.Template")
    .store.listItem
      .listItem-Detail
        .block
          span.quantity(data-win-bind="textContent: store_no")
          span.remaining store #
        h4(data-win-bind="textContent:name")
        .info
          h6.distance(data-win-bind="textContent: distance_in_meters Elsie.Interface.convertMetersToKilometers")
          h6.openclosed(data-win-bind="innerText: this Elsie.Interface.determineStoreResultOpen")

  .inventoryTemplate.listBox(data-win-control="WinJS.Binding.Template")
    .store.listItem
      //img.listItem-Image(data-win-bind="src:image_thumb_url Elsie.Interface.processImage")
      .listItem-Detail
        .block
          span.quantity(data-win-bind="textContent: quantity")
          span.remaining units
        h4(data-win-bind="textContent:name")
        .info
          h6.package(data-win-bind="textContent:package")
          h6.abv(data-win-bind="textContent:alcohol_content Elsie.Interface.convertABVtoPercentage")
