#productResultsTemplate.listBox(data-win-control="WinJS.Binding.Template")
  .product.listItem
    img.listItem-Image(data-win-bind="src:image_thumb_url")
    .listItem-Detail
      h4(data-win-bind="textContent:name")
      h6(data-win-bind="textContent:package")

#storeResultsTemplate.listBox(data-win-control="WinJS.Binding.Template")
  .store.listItem
    .listItem-Detail
      h4(data-win-bind="textContent:name")
      h6(data-win-bind="textContent:address_line_1")