@import 'fonts';

body {
  font-family: 'Roboto';
}

md-toolbar {
  box-shadow: none;
  padding-top: 25px;
}

md-icon.md-default-theme {
  color: rgba(255, 255, 255, 0.870588);
}

md-tabs {
  margin-top: -1px;
}