h4 {
    font-size: 14pt;
}

h6 {
    font-size: 11pt;
}

#brand {
    background: url('../img/logo.png') no-repeat;
    background-size: 163px 109px;
    background-position: left top;
    width: 90%;
    margin: 2.5% auto;
    padding-top: 109px;
    text-align: center;
}

#recent {
    width: 90%;
    margin: 0 auto;
    display: none;
}

#status {
    text-align: center;
}

#productResults {
    margin: 56px auto 0;
    display: none;
}

.elsie-title {
    font-size: 14pt;
    font-weight: 600;
    text-transform: uppercase;
    clear: both;
}

// win-searchbox
.win-searchbox {
    margin: 0 auto 5%;
    padding: 0;
    transition: 0.5s;
    bottom: 0;
    width: 90%;
    height: 56px;
    transition: 0.5s;
    input {
        font-size: 14pt;
    }
}

.win-searchbox-focus {
    position: fixed;
    top: 0;
    width: 100%;
}

.win-searchbox-suggestion-selected {
    color: white;
}

.win-searchbox-suggestion-result-text {
    width: auto;
}

.win-searchbox-suggestion-result-detailed-text > span {
	opacity: 0.5;
}

// win-pivot
.win-pivot-title {
    text-transform: uppercase;
}

.listItem {
    width: 100%;
    height: 70px;
    padding: 5px;
    overflow: hidden;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    .block {
        width: 50px;
        height: 50px;
        background-color: black;
        color: white;
        margin-right: 10px;
        float: left;
    }
    img.listItem-Image {
        height: 60px;
        margin: 5px;
    }
    .listItem-Detail {
        margin: 5px;
    }
}

.details {
    .image {
        width: 30%;
        max-height: 300px;
        overflow: hidden;
        float: left;
        img {
            width: 100%;
        }
    }
    .glance {
        width: 65%;
        margin-left: 5%;
        float: left;
        .fact {
            margin-bottom: 10px;
            width: 50%;
            float: left;
            .value,
            .key {
                text-transform: uppercase;
                font-weight: 300;
            }
        }
    }
    &.store {
        .glance {
            width: 100%;
            margin-left: 0;
        }
    }
}