.product {
  .image {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
  }
  a.md-button.md-default-theme.md-fab, .md-button.md-default-theme.md-fab {
    position: absolute;
    right: 20px;
    top: 165px;
  }
}