.product {
  .image {
    height: 264px;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position-x: -75%;
    background-position-y: 60%;
  }
  md-toolbar {
    margin-top: -64px;
    background-color: rgba(0,0,0,0.2);
    color: white;
  }
  a.md-button.md-default-theme.md-fab, .md-button.md-default-theme.md-fab {
    position: absolute;
    right: 20px;
    top: 255px;
  }
}