doctype
.product.single(layout="column")
  md-content.upper
    md-button.md-icon-button(aria-label="Back", ui-sref="home.watchlist")
      md-icon(md-svg-icon="img/arrow_back.svg")
    .image(ng-style="image")
    md-toolbar
      .md-toolbar-tools
        h2.md-title {{ product.name }}
        h5.md-subhead {{ product.producer_name }}
  md-button.md-fab(aria-label="Add to Watchlist",ng-click="toggleWatch(product)")
    md-icon(md-svg-src='img/favorite.svg',ng-if="isWatched")
    md-icon(md-svg-src='img/favorite_outline.svg',ng-if="!isWatched")
  md-content.lower.md-default.md-primary-bg
    md-list
      md-list-item.md-2-line(ng-if="product.varietal")
        .md-list-item-text
          h3 {{ product.varietal }}
          p type
      md-list-item.md-2-line
        .md-list-item-text
          h3 {{ product.price_in_cents / 100 | currency : $ : 2  }}
          p price
      md-list-item.md-2-line
        .md-list-item-text
          h3 {{ product.package_unit_volume_in_milliliters }} ml x {{ product.total_package_units }}
          p unit package
      md-list-item.md-2-line
        .md-list-item-text
          h3 {{ product.alcohol_content / 10000 | percentage : 1 }}
          p alcohol by volume
