.standard
  md-content
    md-progress-circular.md-accent(md-mode="indeterminate",ng-show="!loaded")
    md-list.standalone(ng-if="loaded")
      md-list-item.md-2-line.velocity-transition-slideUpIn(md-no-ink,data-velocity-opts="{ stagger: 125, duration: 350, delay: 500 }",ng-repeat="product in picks",ng-click="loadProduct(product)")
        img.md-avatar(ng-src="{{ product.image_thumb_url }}")
        .md-list-item-text
          h3 {{ product.name }}
          p 
            | {{ product.producer_name }}
            br
            | {{ product.secondary_category }} &#183; {{ product.alcohol_content | percentage }}
        .md-stat.low
          p
            | {{ product.pick.rating }} 
            md-icon.md-accent star_rate