div(data-win-control="WinJS.UI.AppBar", data-win-options="{placement:'bottom', layout:'commands'}")
  button#button-home(data-win-control="WinJS.UI.AppBarCommand",data-win-options="{id:'home', type:'button', label:'Home', icon: 'home'}")
