#selectedProductTemplate.expandedProduct(data-win-control="WinJS.Binding.Template")
	h2(data-win-bind="textContent:name")
	h4(data-win-bind="textContent:varietal")
	img(src="#",class="expandedProduct-Image",data-win-bind="src: image_url")

#productPivot(data-win-control="WinJS.UI.Pivot",data-win-options="{ title: data.selectedProduct.name, selectedIndex: 1 }")
	.listviewpivotitem(data-win-control="WinJS.UI.PivotItem",data-win-options="{ 'header': 'details' }")
		.expandedProduct(data-win-control="WinJS.UI.ViewBox",data-win-options="{}")
			.expandedProduct-ImageContainer
				img(src="#",class="expandedProduct-Image",data-win-bind="src: data.selectedProduct.image_url")