#storeResultsTemplate.listBox(data-win-control="WinJS.Binding.Template")
  .store.listItem
    .listItem-Detail
      h4(data-win-bind="textContent:name")
      h6(data-win-bind="textContent:address_line_1")

#storeResults(data-win-control="WinJS.UI.ListView",data-win-options="{itemTemplate: select('#storeResultsTemplate'), layout : {type: WinJS.UI.ListLayout}, selectionMode: 'none'}")