#recent
  h5.elsie-title Recent Products
  h4.explanation#no-recents(style="display: block;") Your recently searched products will appear here. 
  #recentProducts(data-win-control="WinJS.UI.ListView",data-win-options="{itemTemplate: select('.productResultsTemplate'), selectionMode: 'none', layout: {type: WinJS.UI.ListLayout}}")