#release-loader.loader

#releases
  #newReleases(data-win-control="WinJS.UI.ListView",data-win-options="{itemTemplate: select('.newReleaseTemplate'), selectionMode: 'none', groupHeaderTemplate: select('.groupHeaderTemplate'), layout: {type: WinJS.UI.GridLayout, orientation: 'vertical'}}")