#searchBoxContainer.win-searchbox
  input#searchBoxId.win-searchbox-input(type='search', placeholder='Search for a product')
  span#cancel
  span#barcode
#productResults(data-win-control="WinJS.UI.ListView",data-win-options="{itemTemplate: select('.productResultsTemplate'), selectionMode: 'none', layout: {type: WinJS.UI.ListLayout}}")