input#searchInventory(type="text")
#explanation.explanation(style="display:block") Search for a product at this particular store to see if it's in stock.
#storeInventory(data-win-control="WinJS.UI.ListView",data-win-options="{itemTemplate: select('.inventoryTemplate'), layout : {type: WinJS.UI.ListLayout}, selectionMode: 'none'}")