.details.store
  .map
    div#mapDiv(style="position:relative; width: 100%; height:200px;")
  br
  .glance
    .fact
      span.value.win-type-x-large(data-win-bind="innerText: Elsie.Data.selectedStore.address_line_1")
      br
      span.key.win-type-large Address
    .fact
      span.value.win-type-x-large(data-win-bind="innerText: Elsie.Data.selectedStore.city")
      br
      span.key.win-type-large City
    .fact
      span.value.win-type-x-large(data-win-bind="innerText: Elsie.Data.selectedStore.telephone")
      br
      span.key.win-type-large Phone