.search {
  position: absolute;
  top: $bump;
  left: 0;
  bottom: 0;
  right: 0;
  input {
    width: 100%;
    height: 100%;
    font-size: 0.9em;
    border: none;
    outline: none;
    color: $charcoal;
    background-color: transparent;
  }
  .md-theme-search {
    background-color: white;
  }
  .md-icon-button {
    md-icon {
      color: $charcoal;
    }
  }
}